<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
   <div class="banner">Products Catalog</div>
   <div class="menu">
       <a href="/Products/Index">Search</a>
       &nbsp;
       <a href="/Products/Add">New Product</a>
       &nbsp;
       <a href="/Products/List">List Products</a>
   </div>

   @RenderBody() 

</body>
</html>
