@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $("#transdate").datepicker(
                {
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "dd-mm-yy"
                });
        });

    </script>
</head>
<body>
     Select Transaction Date 
     <input type="text" id="transdate" />

</body>
</html>
