
@{
    ViewBag.Title = "Index";
    Layout = "master.cshtml";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h2>Search</h2>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "products" }))
{
    <input type="text" name="prodname" id="prodname"/>
    <input type="submit" value="Search"/>
    <p/>
    <div id="products"></div>
}

