@model IEnumerable<mvcdemo.Models.Product>

@{
    ViewBag.Title = "List Of Products";
    Layout = "~/Views/Shared/catalog.cshtml";
}

<h2>List Of Products</h2>

@Html.Partial("listproducts", Model);

<h4>@TempData["message"]</h4>
